build/
ffpyplayer/*.c
ffpyplayer/*.pyd
ffpyplayer/*.html
ffpyplayer/*.pyc
ffpyplayer/player/*.c
ffpyplayer/player/*.pyd
ffpyplayer/player/*.pyc
ffpyplayer/includes/ffconfig.h
ffpyplayer/includes/ffconfig.pxi